<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pidvn.mappers.one.spare_part.SparePartInventoryMapper">

    <resultMap id="getInventoryData-result"
               type="pidvn.modules.spare_part.models.SparePartIvtDto">
        <result column="part_number" property="partNumber" javaType="String"/>
        <result column="created_by_name" property="createdByName" javaType="String"/>
        <result column="created_by" property="createdBy" javaType="String"/>
        <result column="created_at" property="createdAt" javaType="Date"/>
        <result column="request_id" property="requestId" javaType="Integer"/>
    </resultMap>
    <select id="getInventoryData" resultMap="getInventoryData-result">
        select A.*, B.name created_by_name from spare_part_inventory_data A
        left join users B on A.created_by = B.username
        where 1=1
        and A.request_id = #{requestId}
        order by A.id desc
    </select>

    <resultMap id="getInventoryRequests-result"
               type="pidvn.modules.spare_part.models.SparePartIvtDto">
        <result column="req_no" property="reqNo" javaType="String"/>
        <result column="created_by_name" property="createdByName" javaType="String"/>
        <result column="created_by" property="createdBy" javaType="String"/>
        <result column="created_at" property="createdAt" javaType="Date"/>
        <result column="inventory_close_date" property="inventoryCloseDate" javaType="Date"/>
    </resultMap>
    <select id="getInventoryRequests" resultMap="getInventoryRequests-result">
        select A.*, B.name created_by_name from spare_part_inventory_request A
        left join users B on A.created_by = B.username
        where 1=1
        order by A.id desc
    </select>
</mapper>