<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pidvn.mappers.one.qa.qa_equipment_mng.QaEquipmentMngMapper">

    <resultMap id="getQaDocDevices-result"
               type="pidvn.modules.qa.qa_equipment_mng.models.QaDocDeviceVo">
        <result column="device_id" property="deviceId" javaType="Integer"/>
        <result column="control_no" property="controlNo" javaType="String"/>
        <result column="file_type" property="fileType" javaType="Integer"/>
        <result column="file_type_name" property="fileTypeName" javaType="String"/>
        <result column="root_folder" property="rootFolder" javaType="String"/>
        <result column="file_name" property="fileName" javaType="String"/>
        <result column="file_format" property="fileFormat" javaType="String"/>
        <result column="created_by" property="createdBy" javaType="String"/>
        <result column="created_by_name" property="createdByName" javaType="String"/>
        <result column="created_at" property="createdAt" javaType="Date"/>
        <result column="updated_at" property="updatedAt" javaType="Date"/>
        <result column="is_delete" property="isDelete" javaType="Integer"/>
        <result column="delete_by" property="deleteBy" javaType="String"/>

    </resultMap>
    <select id="getQaDocDevices" resultMap="getQaDocDevices-result">
        select
            D.*, T.name as file_type_name, U.name created_by_name, A.control_no
        from qa_doc_device D
        left join qa_device A on D.device_id = A.id
        left join qa_doc_type_device T on D.file_type = T.id
        left join users U on D.created_by = U.username
        where 1 = 1
        and D.device_id = #{deviceId}
        order by D.id desc
    </select>

    <resultMap id="getPrintCodeInDay-result"
               type="pidvn.entities.one.QaDeviceCalibrationLabel">
    </resultMap>
    <select id="getPrintCodeInDay" resultMap="getPrintCodeInDay-result">
        select distinct A.print_code
        from qa_device_calibration_label A
        where 1 = 1
        and DATE_FORMAT(A.created_at, '%Y-%m-%d') = DATE_FORMAT(curdate(), '%Y-%m-%d')
    </select>

    <resultMap id="getDeviceInfo-result"
               type="pidvn.modules.qa.qa_equipment_mng.models.QaDeviceVo">

        <result column="control_no" property="controlNo" javaType="String"/>
        <result column="equipment_name" property="equipmentName" javaType="String"/>
        <result column="serial_no" property="serialNo" javaType="String"/>
        <result column="type_no" property="typeNo" javaType="String"/>
        <result column="range_of_measuring" property="rangeOfMeasuring" javaType="String"/>
        <result column="distribution_location" property="distributionLocation" javaType="String"/>
        <result column="label_created_at" property="labelCreatedAt" javaType="Date"/>
        <result column="calibration_unit" property="calibrationUnit" javaType="String"/>

    </resultMap>
    <select id="getDeviceInfo" resultMap="getDeviceInfo-result">
        SELECT D.*, L.print_code, L.user_id, L.date, L.due, L.created_at label_created_at, L.calibration_unit
        FROM qa_device D
        left join qa_device_calibration_label L on D.control_no = L.control_no
        where 1 = 1
        and D.control_no = #{controlNo}
        order by L.id desc
        LIMIT 1
    </select>


</mapper>