<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pidvn.mappers.one.warehouse.material.receipt.MaterialReceiptMapper">

    <resultMap id="getPurWhRecords-result"
               type="pidvn.modules.warehouse.material.receipt.models.PurWhRecordsVo">
        <result column="lot_no" property="lotNo" javaType="String"/>
        <result column="wh_user_code" property="whUserCode" javaType="String"/>
        <result column="vendor_code" property="vendorCode" javaType="String"/>
        <result column="created_at" property="createdAt" javaType="Date"/>
        <result column="slip_no" property="slipNo" javaType="String"/>
    </resultMap>
    <select id="getPurWhRecords" resultMap="getPurWhRecords-result">
        select
            PWR.id, PWR.model, PWR.lot_no, PWR.qty, PWR.vendor_code, PWR.created_at, PWR.po, PWR.invoice, PWR.slip_no
        from pur_wh_records PWR
        left join lots L on PWR.lot_no = L.lot_no
        where 1 = 1
            and PWR.record_type = 'IM'
            and PWR.flag = '1'

        <if test="serial != null">
            and PWR.serial = #{serial}
        </if>

        <if test="lotNo != null">
            and PWR.lot_no = #{lotNo}
        </if>

        <if test="model != null and model != ''">
            and PWR.model = #{model}
        </if>

        <if test="whUserCode != null">
            and PWR.wh_user_code = #{wh_user_code}
        </if>

        <if test="slipNo != null and slipNo != ''">
            and PWR.slip_no = #{slipNo}
        </if>

        <if test="invoice != null and invoice != ''">
            and PWR.invoice = #{invoice}
        </if>

        <if test="fromDate != null and toDate != null">
            and DATE_FORMAT(PWR.created_at, '%Y-%m-%d') between DATE_FORMAT(#{fromDate}, '%Y-%m-%d') and DATE_FORMAT(#{toDate}, '%Y-%m-%d')
        </if>

        order by PWR.created_at DESC

<!--        <if test="isPaging == true">-->
<!--            LIMIT #{recordStart} , #{recordPerPage}-->
<!--        </if>-->

    </select>

    <resultMap id="getLotsByLotNo-result"
               type="pidvn.modules.warehouse.material.receipt.models.LotVo">
        <result column="lot_no" property="lotNo" javaType="String"/>
    </resultMap>
    <select id="getLotsByLotNo" resultMap="getLotsByLotNo-result">
        select * from lots L where L.lot_no in
        <foreach item="item" index="index" collection="lots" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>



    <!-- Lấy danh sách invoice -->
    <resultMap id="getInvoices-result"
               type="pidvn.modules.warehouse.material.receipt.models.InvoiceVo">
        <result column="lot_no" property="lotNo" javaType="String"/>
    </resultMap>
    <select id="getInvoices" resultMap="getInvoices-result">
        select
            L.invoice, P.date as warehouse_date,
            group_concat(distinct(L.lot_group) separator ' ; ') as lot_group,
            group_concat(distinct(L.model) separator ' ; ') as model
        from pur_wh_records P
        left join lots L on P.lot_no = L.lot_no
        where
                P.record_type = 'IM'
            and L.invoice is not null
            and L.invoice != ''
            <if test="invoice != null">
                and L.invoice = #{invoice}
            </if>
        group by L.invoice
        order by P.date desc
    </select>


    <!-- Lấy thông tin chi tiết invoice bao gồm: LotGroup, Model, Số lượng, Qty -->
    <resultMap id="getInvoiceDetail-result"
               type="pidvn.modules.warehouse.material.receipt.models.InvoiceDetailVo">
        <result column="lot_no" property="lotNo" javaType="String"/>
        <result column="lot_group" property="lotGroup" javaType="String"/>
    </resultMap>
    <select id="getInvoiceDetail" resultMap="getInvoiceDetail-result">
        select
            L.invoice, L.lot_group, P.model,
            count(*) as amount, sum(P.qty) as qty
        from pur_wh_records P
        left join lots L on P.lot_no = L.lot_no
        where
                P.record_type = 'IM'
            and L.invoice is not null
            and L.invoice != ''
        <if test="invoice != null">
            and L.invoice = #{invoice}
        </if>
        group by P.invoice, L.lot_group

    </select>


    <!--  -->
    <resultMap id="getPurWhRecordsByInvoice-result"
               type="pidvn.modules.warehouse.material.receipt.models.PurWhRecordsVo">

        <result column="slip_no" property="slipNo" javaType="String"/>

    </resultMap>

    <select id="getPurWhRecordsByInvoice" resultMap="getPurWhRecordsByInvoice-result">
        select * from pur_wh_records R
        where R.record_type = 'IM'
        and R.invoice = #{invoice}
        and R.slip_no is not null
        and R.slip_no != ''
    </select>



    <resultMap id="dataAddToIqcRequest-result"
               type="pidvn.modules.warehouse.material.receipt.models.IqcResultDto">
        <result column="p_date" property="pDate" javaType="Date"/>
        <result column="lot_group" property="lotGroup" javaType="String"/>
        <result column="lot_no" property="lotNo" javaType="String"/>
        <result column="request_no" property="requestNo" javaType="String"/>
        <result column="user_id" property="userId" javaType="Integer"/>
        <result column="key_in_id" property="keyInId" javaType="Integer"/>
        <result column="created_at" property="createdAt" javaType="Date"/>
        <result column="updated_at" property="updatedAt" javaType="Date"/>
        <result column="class_param" property="classParam" javaType="String"/>
    </resultMap>
    <select id="dataAddToIqcRequest" resultMap="dataAddToIqcRequest-result">

        with
        T01 as (
            -- Các lot đã có trong request
            select A.request_no from iqc_request A where A.slip_no = #{slipNo} and A.disable is null
        ),
        T02 as (
            -- Các lot đã nhận và có trong iqc_result
            select A.lot_no from iqc_results A where request_no = (select * from T01)
        ),
        T03 as (
            -- Tìm các lot trong pur_wh_records theo lotNo đc truyền vào
            select
                'O' class_param, 'N' type, A.date p_date, A.date, A.model, B.lot_group, A.lot_no, A.qty,
                (select * from T01) request_no,  (#{userId}) user_id, (#{userId}) key_in_id,
                NOW() created_at, NOW() updated_at
            from pur_wh_records A
                     left join lots B on A.lot_no = B.lot_no
            where 1=1
              and A.slip_no = #{slipNo}
              and A.lot_no in
                <foreach item="item" index="index" collection="lotNos" open="(" separator="," close=")">
                    #{item}
                </foreach>
        )
        select * from T03
        where 1=1
        and T03.lot_no not in (select * from T02)


    </select>


</mapper>