<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pidvn.mappers.one.relay.relay_process_recording.RePrMapper">

    <resultMap id="getRequests-result"
               type="pidvn.modules.relay.relay_process_recording.models.RequestDto">
        <result column="request_no" property="requestNo" javaType="String"/>
        <result column="total_lot_request" property="totalLotRequest" javaType="Integer"/>
        <result column="total_lot_receive" property="totalLotReceive" javaType="Integer"/>
        <result column="created_at" property="createdAt" javaType="Date"/>
    </resultMap>

    <select id="getRequests" resultMap="getRequests-result">
        with
        T01 as (
            select A.reg_no, A.date, A.type, A.remark, A.line, A.parent, A.created_at
            from pur_wh_headers A
            where 1=1
              and A.type = 'XPA'
              and A.date between date_format(#{dateRange[0]},'%Y-%m-%d') and date_format(#{dateRange[1]}, '%Y-%m-%d')
            order by A.date desc
        ),
        T02 as (
            select A.lot_no, A.slip_no, A.date from pur_wh_records A
            where 1=1
              and A.record_type = 'XPA'
              and A.date between date_format(#{dateRange[0]},'%Y-%m-%d') and date_format(#{dateRange[1]}, '%Y-%m-%d')
            order by A.id desc
        ),
        T03 as (
            -- Danh sách xuất kho ra MA
            select T01.*, count(T02.lot_no) total_lot_request from T01
            right join T02 on T01.reg_no = T02.slip_no
            where T01.reg_no is not null
            group by T01.reg_no
        ),
        T04 as (
            -- Danh sách MA đã nhận
            select A.req_no, count(A.lot_no) total_lot_receive from pur_wh_records A
            where 1=1
              and A.record_type = 'RNP'
              and A.date between date_format(#{dateRange[0]},'%Y-%m-%d') and date_format(#{dateRange[1]}, '%Y-%m-%d')
            group by A.req_no
        )
        select
            T03.reg_no request_no, T03.date, T03.created_at, T03.line,
            T03.parent, T03.total_lot_request, T04.total_lot_receive
        from T03
        left join T04 on T03.reg_no = T04.req_no
        order by T03.created_at desc

    </select>


    <resultMap id="getRequestDetail-result"
               type="pidvn.modules.relay.relay_process_recording.models.LotDto">
        <result column="lot_group" property="lotGroup" javaType="String"/>
        <result column="lot_no" property="lotNo" javaType="String"/>
        <result column="status" property="status" javaType="Integer"/>
        <result column="status_name" property="statusName" javaType="String"/>
        <result column="created_at" property="createdAt" javaType="Date"/>
        <result column="updated_at" property="updatedAt" javaType="Date"/>
        <result column="req_no" property="reqNo" javaType="String"/>
        <result column="receiver_name" property="receiverName" javaType="String"/>
        <result column="wh_user_code" property="whUserCode" javaType="String"/>

    </resultMap>
    <select id="getRequestDetail" resultMap="getRequestDetail-result">

        with
        T01 as (
            -- Danh sách xuất kho ra MA
            select * from pur_wh_records A
            where 1=1
            and A.record_type = 'XPA'
            and A.slip_no = #{requestNo}
        ),
        T02 as (
            -- Danh sách đã nhận
            select * from pur_wh_records A
            where 1=1
            and A.record_type  = 'RNP'
            and A.req_no = #{requestNo}
        ),
        T03 as (
            select
                T02.id, T01.parent, T01.model, A.lot_group, T01.lot_no, ABS(T01.qty) qty, T02.req_no, B.name receiver_name,
                T01.wh_user_code, T02.lot_no lot_no_receive, T02.created_at, T02.updated_at, T02.date, T02.receiver, T01.sender
            from T01
            left join T02 on T01.lot_no = T02.lot_no
            left join lots A on T01.lot_no = A.lot_no
            left join users B on T02.receiver = B.username
        )
        select
            T03.id, T03.model, T03.lot_group, T03.lot_no,T03.lot_no_receive, T03.receiver_name, T03.qty,
            T03.date, T03.receiver, T03.created_at, T03.updated_at, T03.req_no, T03.sender, T03.wh_user_code,
            case
                when T03.receiver is null then 0
                when T03.receiver = "" then 0
                else 1
                end status,
            case
                when T03.receiver is null then 'Not yet'
                when T03.receiver = "" then 'Not yet'
                else 'Received'
                end status_name
        from T03
        order by T03.lot_no asc


    </select>


</mapper>