<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pidvn.mappers.one.ie.drawing_control.IeDcMapper">

    <resultMap id="getProjects-result"
               type="pidvn.modules.ie.drawing_control.models.ProjectDto">

        <result column="control_no" property="controlNo" javaType="String"/>
        <result column="type_id" property="typeId" javaType="Integer"/>
        <result column="type_name" property="typeName" javaType="String"/>
        <result column="product_name" property="productName" javaType="String"/>
        <result column="pic_id" property="picId" javaType="String"/>
        <result column="pic_name" property="picName" javaType="String"/>
        <result column="created_id" property="createdId" javaType="String"/>
        <result column="tact_time" property="tactTime" javaType="String"/>
        <result column="created_name" property="createdName" javaType="String"/>
        <result column="created_at" property="createdAt" javaType="Date"/>
    </resultMap>
    <select id="getProjects" resultMap="getProjects-result">
        SELECT
            A.*, B.name type_name, U1.name pic_name,
            U2.name created_name, C.description product_name
        from ie_dc_001 A
        left join ie_dc_002 B on A.type_id = B.id
        left join users U1 on A.pic_id = U1.username
        left join users U2 on A.created_id = U2.username
        left join product C on A.product_id = C.id
        where 1=1
        and A.disable is null
        order by A.id desc
    </select>


    <resultMap id="getProcesses-result"
               type="pidvn.modules.ie.drawing_control.models.ProcessDto">
    </resultMap>
    <select id="getProcesses" resultMap="getProcesses-result">
        select B.* from ie_dc_004 A
        left join ie_dc_003 B on A.process_id = B.id
        where 1 = 1
          and A.type_id = (
            select A.type_id from ie_dc_001 A where A.id = #{projectId}
        )

    </select>

    <resultMap id="getProcessRecordByProject-result"
               type="pidvn.modules.ie.drawing_control.models.ProcessRecordDto">
        <result column="project_id" property="projectId" javaType="Integer"/>
        <result column="process_id" property="processId" javaType="Integer"/>
        <result column="process_name" property="processName" javaType="String"/>
        <result column="start_plan" property="startPlan" javaType="Date"/>
        <result column="end_plan" property="endPlan" javaType="Date"/>
        <result column="start_action" property="startAction" javaType="Date"/>
        <result column="end_action" property="endAction" javaType="Date"/>
        <result column="progress_percent" property="progressPercent" javaType="Integer"/>
        <result column="created_at" property="createdAt" javaType="Date"/>
        <result column="updated_at" property="updatedAt" javaType="Date"/>
    </resultMap>
    <select id="getProcessRecordByProject" resultMap="getProcessRecordByProject-result">
        with
        T01 as (
            select B.id as process_id, B.name as process_name from ie_dc_004 A
            left join ie_dc_003 B on A.process_id = B.id
            where 1 = 1
            and A.type_id = (select A.type_id from ie_dc_001 A where A.id = #{projectId})
        )
        select
            T01.*, A.id, A.project_id, A.content, A.start_plan, A.end_plan,
            A.start_action, A.end_action, A.progress_percent, A.created_at, A.updated_at
        from T01
        left join ie_dc_008 A on (T01.process_id = A.process_id and A.project_id = #{projectId})
        order by T01.process_id asc
    </select>

</mapper>